<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Full Slider - Start Bootstrap Template</title>
    <!-- <meta charset="utf-8"> -->

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="../static/css/full-slider.css" rel="stylesheet" type="text/css">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Storyteller</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('index')}}">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('upload')}}">Upload</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('load')}}">Load</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('../static/images/first.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h3>First Slide</h3> -->
              <h3>A cruise ship is traveling in the distance</h3>
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('../static/images/Football.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h3>Second Slide</h3> -->
              <h3>Children chase the ball during a game of soccer</h3>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('../static/images/bear.jpg')">
            <div class="carousel-caption d-none d-md-block">
              <!-- <h3>Third Slide</h3> -->
              <h3>A big brown bear turns its face toward the distance</h3>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>


    <section class="py-5">       
    <div class="container">
    <h2>A selection of generated stories</h2>
    <div class="row"> 
      <div class="column">

        <div class="mycontainer">
          <img id="myImg6" src="../static/images/bike.jpg" title="A person performs a stunt on a dirt bike on top of a mountain" alt="His bike was up, as it hit the man on the ground. I could hardly imagine what he would say to me. He had been riding a bike since the last time I stepped out of his arms, leaving a trail of dirt through her hair, and he gave me a sense of satisfaction. I 'm pretty sure it s a good thing, but I don t know how to deal with that. For the past few days, I felt exposed to the dirt and dirt. She was riding a bike so high on him if I stumbled." style="width:100%" onclick="myopenModel(6)">
          <div class="content">
              <h7>A person performs a stunt on a dirt bike on top of a mountain</h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg7" src="../static/images/lima.jpg" title="A woman is posing for a photo" alt="I woman gave her a brief look, as she had to say in response to her phone. She was in love with me, so I took a deep breath and pulled it out of his pants pocket. The woman on the phone began to work her way through the rest of her body. It was only a few short minutes ago, but I did n't know what the hell it was going to be. In fact, I should have known better than the woman who fell in love with him, and he was looking at her with an unreadable expression on his face. Like a woman, the longer she spoke up and on her stunning phone." style="width:100%" onclick="myopenModel(7)">
          <div class="content">
              <h7>A woman is posing for a photo</h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg2" src="../static/images/ex3.jpg" title="The meal looks delicious but is an unhealthy mean" alt="I tasted of food and, for a brief moment, I set the tray on the table. There was no need to argue with me. By the time we were finished eating, it would be the most delicious meal I 'd ever seen in my entire life. I forced myself to sit up and let her know that he was carrying a tray of food. In fact, it seemed as if she had no idea what to do with him. She took a deep breath and tried not to wince, but as usual, it was gone. Especially since Dean and I had the recipe of meat soup and I wanted more." style="width:100%" onclick="myopenModel(2)">
          <div class="content">
              <h7>The meal looks delicious but is an unhealthy mean</h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg3" src="../static/images/ex4.jpg" title="Two tall giraffes standing next to each other in a dessert like area" alt="Two I stood with each other, moving closer to the next. I had to wonder just how long they were in my head, and that was the most natural thing in the world. Of course, I could n't bear to be comfortable with her, not yet. I let out a little growl as he kissed the back of my neck. There was no reason for him to withdraw from each other, and Emmie 's pet. Like the one who would remain silent, it seemed that I had no problem moving around to their next time." style="width:100%" onclick="myopenModel(3)">
          <div class="content">
              <h7>Two tall giraffes standing next to each other in a dessert like area</h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg4" src="../static/images/ex5.jpg" title="A truck with heavy dark smoke bellowing from its hood stack" alt="My truck was in the back of the vehicle, and I pulled it out of my head. For a brief moment, I had no idea what to say. In fact, it had become more difficult to deal with. By the time I closed the car doors, I could n't help but notice that he was looking at her as if he wanted to keep her safe. My body was burning with fire, and it gave me a strange sense of satisfaction. She spent the past twenty-four hours, that Colt 's truck had nothing to do with it." style="width:100%" onclick="myopenModel(4)">
          <div class="content">
              <h7>A truck with heavy dark smoke bellowing from its hood stack</h7>
          </div>
        </div>

        <!-- <div class="mycontainer">
          <img id="myImg5" src="../static/images/beauty.jpg" title="A woman in a bikini standing next to a man on the beach" alt="She was a few guys in the beach, and she let my mind drift back to her. She would never see him as the man who had kissed her on the beach during the past twenty-four hours. She had no intention of falling in love with him, so I did n't know what to say, but I felt like I was going to be the only woman on the beach. Reaching out, I placed my hands on the sand. The beauty of the Caribbean Sea Dancer had become so much more than sexual contact, and Sara was here. She could hardly deny it, judging from the crazy things he and I were engaged in." style="width:100%" onclick="myopenModel(5)">
          <div class="content">
              <h7>A woman in a bikini standing next to a man on the beach</h7>
          </div>
        </div> -->

      </div>
      <div class="column">
        <div class="mycontainer">
          <img id="myImg0" src="../static/images/ex1.jpg" title="A surfer is silhouetted against a sunset at the beach" alt="We were barely able to catch the breeze at the beach, and it felt as if someone stepped out of my mind. She was in love with him for the first time in months, so she had no intention of escaping. The sun had risen from the ocean, making her feel more alive than normal. She 's beautiful, but the truth is that I do n't know what to do. The sun was just starting to fade away, leaving people scattered around the Atlantic Ocean. I d seen the men in his life, who guided me at the beach once more." style="width:100%" onclick="myopenModel(0)">
          <div class="content">
            <h7>A surfer is silhouetted against a sunset at the beach</h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg1" src="../static/images/ex2.jpg" title="An image of a large bouquet of flowers" alt="She had the bouquet of purple roses, and I bit down on my fingers. To be honest, I did n't know what to say to her. In fact, it was as if they were living in a vase full of flowers. The only thing I wanted to do was keep an eye on James, and he kept looking at me with wide eyes that reminded me so much of her. It had been a long time since she arrived in New York City, and I was relieved to see the new colors. ' She stood up, afraid of the vase and mixed blood." style="width:100%" onclick="myopenModel(1)">
          <div class="content">
              <h7>An image of a large bouquet of flowers</h7>
          </div>
        </div>
        

        <div class="mycontainer">
          <img id="myImg8" src="../static/images/pizza.jpg" title="A close up of a pizza on a table" alt="the pizza had a great set of eyes on me, and I tried to swallow a sigh of relief. I do not know what was going on, she told herself as we entered the dining room. There was a table in front of the table, a table full of pizza and two chairs. I did n't even know if it was a pizza. I looked up at the table and closed my eyes. For the first time, I could only make a mistake, and I was relieved that he 'd become a member of his family s age. Once I cleaned up, I seemed to have a pizza right now on a table." style="width:100%" onclick="myopenModel(8)">
          <div class="content">
              <h7>A close up of a pizza on a table</h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg9" src="../static/images/doughnut.jpg" title="A girl with a pink frosted donut on the way to the mouth" alt="My little girl was trying to inject a smile into my eyes. Yes, she did, so it took a moment for him to spill his seed on the inside of her cheek. In fact, that was probably a pleasant surprise, and I had never known what to do with them. I could n't help but think. Picking up the cookie I had left behind in New York, Daphne and I shared a list of rings. She was ripe with the temptation, a little boy who held her tongue long enough." style="width:100%" onclick="myopenModel(9)">
          <div class="content">
              <h7>A girl with a pink frosted donut on the way to the mouth/h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg10" src="../static/images/xidada.jpg" title="A man in a suit stands at the podium and speaks" alt="I let Daniel in his arms, a man I had never expected to hear. In fact, I was standing in front of him, staring at the proceedings as if they were the most important thing in the world. The man smiled and bowed over his head, giving me a tight squeeze. I did n't know what was going on. The last thing I wanted to do was press charges against her, but I had no desire to be a member of the Order. And for the first time, I composed a man and looked down." style="width:100%" onclick="myopenModel(10)">
          <div class="content">
              <h7>A man in a suit stands at the podium and speaks</h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg11" src="../static/images/ex11.jpg" title="A view of the sunset on the ocean" alt="I dreamed of the darkening sky, taking in a brief moment as the sun rose above the horizon. I had never expected anyone to be so close to me, but it was more than anything else. As soon as the sun had risen, he released my hand and pulled it out of his pocket. In the distance, I could tell she was still alive, and I had no intention of letting her go. That 's the most beautiful thing I 've ever seen in my entire life. She seemed to enjoy the sunset, which sent waves crashing down on the sand at night." style="width:100%" onclick="myopenModel(11)">
          <div class="content">
              <h7>A view of the sunset on the ocean</h7>
          </div>
        </div>
      </div>  
      <div class="column">
        <div class="mycontainer">
          <img id="myImg12" src="../static/images/ex12.jpg" title="A small boat out in the water with a people sitting inside it" alt="I had a anchor in the boat, knowing it was all going to happen to me as soon as we were out of the water. When I opened my eyes, he let out a small sigh and looked back at her. I mean, I understand that it 's the only thing that will ever happen to her, but I don t understand why. I had no idea what was going on in his life. For the first time in months, I felt like a fish at the shore of San Francisco Bay. It was much more suited to him than the sailors, and I could pull it in on shore." style="width:100%" onclick="myopenModel(12)">
          <div class="content">
              <h7>A small boat out in the water with a people sitting inside it</h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg13" src="../static/images/wade.jpg" title="A man holding a ball as he leaps into the air" alt="You baseball became a member of the group, and I let out a sigh of defeat. I do n't know what to do about it. In fact, Hunter had been acting as if he was the most talented player in the court, but I had never seen him so much as a boy. In fact, he threw his arm around my waist and pulled her close to him. My heart was pounding in my chest, and I felt the tension rise and fall. The boys are going to play basketball these days." style="width:100%" onclick="myopenModel(13)">
          <div class="content">
              <h7>A man holding a ball as he leaps into the air</h7>
          </div>
        </div>

        <div class="mycontainer">
          <img id="myImg14" src="../static/images/horse.jpg" title="A young person riding a brown horse through a field" alt="He rode up the horse, a woman in her field of experience. She had no idea what he was doing, but that did n't make sense to her. In fact, it was a lot easier to focus on than riding on a horse until he finally released the reins and let out a deep breath, as if he were the most powerful horse in the world. There was a lot of young men riding out on horseback riding. I ve never seen him in such a short period of time, he said. `` Like, I was willing to cut the horse and my body in half." style="width:100%" onclick="myopenModel(14)">
          <div class="content">
              <h7>A young person riding a brown horse through a field</h7>
          </div>
        </div>
        
        <div class="mycontainer">
          <img id="myImg15" src="../static/images/frisbee.jpg" title="Some sport players are competing in the Frisbee game and having fun" alt="We danced to the most of their team fights, but I had no idea what else to do. I was more than a couple of years younger than Nate, and he was acting as if he were playing a game under the field. Pulling out of my field of vision, I felt my heart pick up speed. I 've never met anyone before, and now she 's going to be the only boy in the world. For some reason, it gave me a sense of freedom. She was as close to Chase as possible, kicking and punching the other Shifters I won." style="width:100%" onclick="myopenModel(15)">
          <div class="content">
              <h7>Some sport players are competing in the Frisbee game and having fun</h7>
          </div>
        </div>
        
        <div class="mycontainer">
          <img id="myImg16" src="../static/images/Cellphone.jpg" title="A guy taking a picture with his cell phone in a crowd of people on the street" alt="He man was in his expression, trying to get a phone out of his mouth. My cell phone rang, and I took a deep breath. I do n't know how many times he gave it to me, but I had no idea what to do next. The man on the other side of her, the man who had been holding on for a while longer. His body language was so much more personal than mine, and I thought he might be able to hack into an unknown cell phone. I tugged on him, seeing that the man he was after his cell phone." style="width:100%" onclick="myopenModel(16)">
          <div class="content">
              <h7>A guy taking a picture with his cell phone in a crowd of people on the street</h7>
          </div>
        </div>

      </div>
    </div>
    </div>
      <!-- <img id="myImg" src="./images/ex1.jpg" alt="Trolltunga, Norway" width="300" height="200"> -->

      <!-- The Modal -->
      <div id="myModal" class="modal" onclick="mycloseModel()">
        <!-- <span class="close">&times;</span> -->
        <div id="mycontainer2">
          <div id="myphoto">
            <img class="modal-content" id="img01">
          </div>
          <div id="mycontent">
            <div id="caption"></div>
            <div id="description"></div>
          </div>
        </div>
      </div>

    <script type="text/Javascript">

      function myopenModel(n){
        // alert("hello!!")
        document.getElementById('myModal').style.display = "block";
        document.getElementById("img01").src = document.getElementById('myImg'+n).src;
        document.getElementById("caption").innerHTML = document.getElementById('myImg'+n).title;
        document.getElementById("description").innerHTML = document.getElementById('myImg'+n).alt;
      }
      // // Get the modal
      // var modal = document.getElementById('myModal');

      // // Get the image and insert it inside the modal - use its "alt" text as a caption
      // var img = document.getElementById('myImg');
      // var modalImg = document.getElementById("img01");
      // var captionText = document.getElementById("caption");
      // img.onclick = function(){
      //     modal.style.display = "block";
      //     modalImg.src = this.src;
      //     captionText.innerHTML = this.alt;
      // }

      function mycloseModel(){
        // alert("hello!!")
        document.getElementById('myModal').style.display = "none";
        // document.getElementById("img01").src = document.getElementById('myImg').src;
        // document.getElementById("caption").innerHTML = document.getElementById('myImg').alt;
      }

      // modalImg.onclick = function(){
      //   modal.style.display = "none";
      // }
    </script>
  </section>

  <!--................. -->
  <!--................. -->


    <!-- Footer -->
    <footer class="py-4 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
